.attendance-card{
    padding:30px;
    border-radius:12px !important;
}

.attendance-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.attendance-title{
    color:#1A3E7A;
    font-weight:700 !important;
}

.attendance-subtitle{
    color:#6b7280;
    margin-top:5px !important;
}

.attendance-date{
    color:#6b7280;
    font-size:15px !important;
}

.attendance-table-head{
    background:#f5f7fa;
}

/* Make table headers slightly bolder */
.attendance-table-head th{
    font-weight:700 !important;
    color:#1A3E7A;
}

/* Add a little padding to rows */
.MuiTableBody-root .MuiTableRow-root{
    height:70px;
}

/* Hover effect */
.MuiTableBody-root .MuiTableRow-root:hover{
    background:#fafafa;
}

/* Status badges */

.status-present{
    background:#d4edda;
    color:#155724;
    padding:6px 14px;
    border-radius:20px;
    font-size:13px;
    font-weight:600;
}

.status-absent{
    background:#f8d7da;
    color:#721c24;
    padding:6px 14px;
    border-radius:20px;
    font-size:13px;
    font-weight:600;
}

.status-pending{
    background:#ececec;
    color:#666;
    padding:6px 14px;
    border-radius:20px;
    font-size:13px;
    font-weight:600;
}

/* Attendance radio buttons */

.attendance-radio-cell{
    vertical-align:top;
    padding-top:18px !important;
    justify-content: flex-end;
}

.attendance-radio-group{
    display: flex;
    justify-content: flex-start;
    padding-left: 55px;   /* Increase from 35px */
    gap: 18px;
}

.attendance-radio-group .MuiFormControlLabel-root{
    margin:0;
}

/* Save Button */
.checkin-btn.Mui-disabled {
    background-color: #81c784 !important;
    color: #ffffff !important;
    opacity: 0.75;
}

.checkout-btn.Mui-disabled {
    background-color: #90caf9 !important;
    color: #ffffff !important;
    opacity: 0.75;
}

.attendance-btn{
    display:flex;
    justify-content:flex-end;
    margin-top:30px;
}

.attendance-btn button{
    background:#4F7ECF;
    text-transform:none;
    border-radius:8px;
    padding:10px 26px;
    font-weight:600;
}

.attendance-btn button:hover{
    background:#3E6FBE;
}